<!DOCTYPE html>
<html>

<head>
    <title>New Invitation</title>
</head>

<body>
    <p>You have a new invitation!</p>
    <p>Description: {{description}}</p>
    <p>From: {{senderEmail}}</p>
</body>

</html>